
@model SessionTimeOut.Models.User

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <div>


        @{
            ViewBag.Title = "Login";
        }

        <h2>Login</h2>

        @if (ViewBag.Error != null)
        {
            <div class="alert alert-danger">@ViewBag.Error</div>
        }

        @using (Html.BeginForm("Login", "Account", FormMethod.Post))
        {
            <div class="form-group">
                @Html.LabelFor(m => m.Username)
                @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        }

    </div>
</body>
</html>
